<%- include("partials/header") -%>
<h1>Compose</h1>

<form action="/compose">
  <input type="text" id="submittedPost" name="submittedPost" placeholder="Create a post"><br><br>
  <button type="submit" name="button" >Publish</button>
</form> 

<%- include("partials/footer") -%>
